.project_section {
    width: 60%;
    background-color: lightblue;
    border-radius: 2em;
    padding: 1.5em;
    margin: 2em;
    box-shadow: 4px 4px 10px #888;

    /* display: flex;        
    align-items: center; 
    justify-content: center; */
}

.display_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project_section iframe, .project_section img {
    text-align: center;
}

.project_section h1, .project_section h2, .project_section p {
    text-align: left;
}

.title_row {
    display: flex;
    align-items: center;
}

button {
    all:unset;
    background-color: midnightblue;
    color: white;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: large;
}

button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}