nav {
    margin: 0 auto;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;

}

.link {
    font-size: large;
    /* border-radius: 2em;
    border-color: midnightblue; */
    color: black;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* padding-left: 2em;
    padding-right: 2em; */
}

.link:hover {
    /* background-color: midnightblue; */
    color:white;
}