.footer {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.left {
    float: left;
    padding-left: 2em;
}

.right {
    float: right;
    padding-right: 2em;
}