/* Entire Card*/
.hero_card {
    margin: 2em;
    padding: 2em;
    width: 70%;
    border-radius: 2em;
    background-color: lightblue;
    box-shadow: 4px 4px 8px #888;
}
 
/* Top Section of card */
.top_section {
    width: fit-content;
    display: flex;
}

.profile_photo {
    width: 10em;
    border-radius: 2em;

}

.multi_column_list {
    width: fit-content;
    /* Automatically flow into 3 columns */
    column-count: 3;
    /* Add a gap between columns for better readability */
    column-gap: 40px; /* Adjust as needed */
    /* Ensures list items don't break across columns in awkward ways */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column
}

.multi_column_list li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  margin-bottom: 10px; /* Add some space between items */
}