.cards_section {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em;
}

.card {
    background-color: lightblue;
    border-radius: 2em;
    text-align: center;
    width: 30%;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);

    color: inherit; 
    text-decoration: none; 
}

.card img {
    margin-top: 0;
    border-radius: 2em 2em 0 0;
    width: 100%;
    height: 18em;
    object-fit: cover;
    object-position: top center;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
